<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>404 - Pagina no encontrada</title>
        <link rel="stylesheet" href="/assets/css/404.css" />
        <link href="/assets/img/MyFootLogoV2.ico" rel="icon">
        <link href="/assets/img/MyFootLogoV2.ico" rel="apple-touch-icon">
    </head>
    <body>
        <div class="title">
            <h1>MyFoot<span>.</span></h1>
        </div>
        <div class="container">
            <div class="subtitle">
                <h2>404</h2>
            </div>
            <div class="texto">
                <p>PÁGINA NO DISPONIBLE</p>
            </div>
            <div class="btn-div">
                <button type="button" onclick="window.location.href = '/home';">VOLVER</button>
            </div>
        </div>
        
    </body>
</html>
