<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link href="/assets/img/MyFootLogoV2.ico" rel="icon">
    <link href="/assets/img/MyFootLogoV2.ico" rel="apple-touch-icon">
    <link rel="stylesheet" href="/assets/css/forgot.css">
</head>
<body>
    <div class="forgot-container">
        <h2>RECUPERAR CONTRASEÑA</h2>
        <p>Se le envió un token de restablecimiento, ingreselo a continuación</p>
        <p class="advice">TOKEN VALIDO POR 5 MINUTOS!</p>
        <form action="/check-token-password/<%=id%>" method="post">
          <input type="text" name="token_input" placeholder="Ingrese su token" required>
          <div class="btn-submit">
            <button type="submit">ENVIAR</button>
          </div>
        </form>
      </div>
</body>
</html>