
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="/assets/css/forgot.css">
</head>
<body>
    <div class="forgot-container">
        <h2>RECUPERAR CONTRASEÑA</h2>
        <p>Ingrese a continuación su nueva contraseña:</p>
        <form action="/restore-password/<%=id%>" method="post">
          <input type="password" name="password" id="password" placeholder="Ingrese su contraseña" required>
          <input type="password" name="repassword" id="repassword" placeholder="Confirme su contraseña" required>
          <p id="error-p" style="color: red; font-weight: 500; display: none;">Contraseñas no coincidentes!</p>
          <div class="btn-submit">
            <button type="submit">CAMBIAR</button>
          </div>
        </form>
      </div>


    <script src="/assets/js/forgot-password.js"></script>
</body>
</html>