<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contrase침a</title>
    <link rel="stylesheet" href="/assets/css/forgot.css">
</head>
<body>
    <div class="forgot-container">
        <h2>Recuperar Contrase침a</h2>
        <p>Ingrese el correo de su cuenta. En caso de ser correcto, le llegar치 un correo con el token de restablecimiento.</p>
        <form action="/check-reset-password" method="POST">
          <input type="email" name="email" placeholder="Ingrese su correo electr칩nico" required>
          <div class="btn-submit">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
</body>
</html>