:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce126a;
  --color-primary-nav: #ce126ab7;
  --color-primary-hover: #a31356;
  --color-primary-hover2: #4d0929;
  --color-secondary: #37373f;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

* {
  font-family: var(--font-default);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fa; /* Color de fondo */
}
#goBack {
  background-color: var(--color-primary); /* Color de fondo de la caja */
  color: #fff; /* Color del texto */
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 80px; /* Redondea los bordes */
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out; /* Agrega una transición suave para la propiedad top */
}

#goBack:hover {
  padding: 10px 30px; /* Espaciado interno */
  background-color: var(--color-primary-hover2);
}

.p-red {
  color: red;
  font-weight: bold;
}

.title {
  position: fixed;
  top: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.opciones {
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Fondo blanco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: #ccc; /* Color de la línea gris */
  margin: 20px 0; /* Margen superior e inferior para separar visualmente las opciones */
}

.button {
  padding: 10px 20px;
  width: auto;
  background-color: var(--color-primary); /* Color primario para el botón */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease;
  font-family: var(--font-default);
}

.button:hover {
  padding: 10px 35px;
  background-color: var(--color-primary-hover2); /* Color primario con hover */ 
}

.a-div {
  margin-top: 30px;
  margin-bottom: 5px;
}
/* Estilos para la modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }

  .modal-content-token {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }
  .modal-content-password {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }

  .token-p {
    color: gray
  }
  .token-p-red {
    color: red;
  }


  .modal-overlay button {
    padding: 10px 20px;
    width: auto;
    background-color: var(--color-primary); /* Color primario para el botón */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-family: var(--font-default);
    display: block;
    margin: 20px auto;
  }

  .modal-overlay button:hover {
    padding: 10px 20px;
    width: auto;
    background-color: green; /* Color primario para el botón */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-family: var(--font-default);
    display: block;
    margin: 20px auto;
  }

  #nuevo-nombre, #tokenInput, #passwordInput, #confirmPasswordInput {
    font-family: var(--font-default);
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    box-sizing: border-box; /* Ajuste del tamaño del input */
  }

  #nuevo-nombre:focus, #tokenInput:focus, #passwordInput:focus, #confirmPasswordInput:focus {
    outline: none; /* Elimina el resaltado predeterminado de enfoque */
    border-color: var(--color-primary);
  }

  #modal-content button {
    margin: 10px;
  }
  .modal-content .buttons {
    display: flex;
    justify-content: center;
  }

.username-not-available {
  color: red;
  font-weight: 500;
}

#name {
  width: 100%; /* Ancho del input */
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  float: left; /* Alineación a la izquierda */
}
