/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce126a;
  --color-primary-nav: #ce126ab7;
  --color-primary-hover: #a31356;
  --color-primary-hover2: #4d0929;
  --color-secondary: #37373f;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  height: 100%;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  text-transform: uppercase;
}

#goBack {
  position: fixed; /* Para fijarla en la ventana del navegador */
  top: 29px; /* Ajusta la distancia desde la parte superior */
  left: 15px; /* Ajusta la distancia desde la derecha */
  background-color: var(--color-primary); /* Color de fondo de la caja */
  color: #fff; /* Color del texto */
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 80px; /* Redondea los bordes */
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out; /* Agrega una transición suave para la propiedad top */
}

#goBack:hover {
  padding: 10px 20px; /* Espaciado interno */
  border: solid 2px var(--color-primary);
  background-color: var(--color-primary-hover2);
}

.container-carrito {
  height: auto;
  max-width: fit-content;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  border-radius: 20px; /* Bordes redondeados */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 20px 40px;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-primary);
  font-size: large;
}

.divider {
  height: 2px; /* Altura de la línea */
  width: 100%; /* Ancho completo */
  background-color: #ccc; /* Color de la línea gris */
  margin: 10px 0; /* Espacio superior e inferior para separar visualmente elementos */
}
.carrito-lista {
    list-style: none; /* Elimina los puntos de lista predeterminados */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    max-height: auto; /* Establece una altura máxima para el ul */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  }
  
  .carrito-item {
    display: flex;
    align-items: center;
  }
  
  .carrito-item-id {
    flex-grow: 1;
  }
  
  .carrito-item-eliminar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: red;
    text-decoration: none;
    border: 1px solid red;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .carrito-item-eliminar:hover {
    background-color: red;
    color: white;
  }

  .imagen-container {
    display: flex;
    align-items: center;
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta la altura según tus necesidades */
    overflow: hidden; /* Para recortar la imagen si es más grande que el contenedor */
  }
  
  .imagen-carrito {
    width: 100%; /* Para que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Para mantener la proporción de la imagen */
  }

  .texto-imagen {
    margin-left: 30px; /* Ajusta el margen izquierdo según tus necesidades */
  }
  
  .nombre-post {
    font-weight: bold;
    margin: 0;
    font-size: 15px;
  }
  
  .precio-post {
    font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
    margin: 0;
    color: gray; /* Color gris para el texto */
  }
  
  .id-post {
    font-size: 12px; /* Ajusta el tamaño de fuente según tus necesidades */
    margin: 0;
    color: gray; /* Color gris para el texto */
  }

  .eliminar {
    width: 30px; /* Ajusta el ancho según tus necesidades */
    height: 30px; /* Ajusta el alto según tus necesidades */
    font-size: 20px; /* Ajusta el tamaño de fuente según tus necesidades */
    margin-left: 4vh; /* Ajusta el margen izquierdo según tus necesidades */
    border-radius: 50%; /* Para dar forma redondeada al botón */
    border: 1px solid var(--color-primary); /* Borde rojo */
    color: var(--color-primary); /* Color de texto rojo */
    background-color: transparent; /* Fondo transparente por defecto */
    transition: all 0.3s; /* Transición de color de fondo */
    cursor: pointer;
    line-height: 30px; /* Ajusta el valor para centrar verticalmente la "X" */
  }
  
  .eliminar:hover {
    background-color: var(--color-primary); /* Relleno de color rojo al pasar el mouse */
    color: white; /* Texto blanco al pasar el mouse */
    width: 40px; /* Ajusta el ancho según tus necesidades */
    height: 40px; /* Ajusta el alto según tus necesidades */
    font-size: 30px; /* Ajusta el tamaño de fuente según tus necesidades */
    line-height: 40px; /* Ajusta el valor para centrar verticalmente la "X" */
  }
  
  .finalizar-compra {
    font-family: var(--font-default);
    font-weight: bold;
    background-color: var(--color-primary);
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .finalizar-compra:hover {
    padding: 10px 30px;
    border: solid 2px var(--color-primary-hover);
    background-color: var(--color-primary-hover2);
  }