::selection {
    background-color: var(--color-primary); /* Puedes cambiar el valor hexadecimal por el color que desees */
    color: #fff; /* Puedes cambiar el valor hexadecimal por el color que desees */
  }
.container-filtros{
    border-style: solid;
    border-color: black;
    max-height: 100vh;
    border: 0;
    background-color: #eee;
}
.filtro select{
    border: 1px solid red;
    
}
input{
    border: 1px solid red;
    max-width: 100px;
}

.filtro-btn {
    position: fixed;
    left: 20px; /* Alinea el botón en el borde izquierdo */
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }