::selection {
    background-color: var(--color-primary); /* Puedes cambiar el valor hexadecimal por el color que desees */
    color: #fff; /* Puedes cambiar el valor hexadecimal por el color que desees */
  }
.container-filtros{
    border-style: solid;
    border-color: black;
    max-height: 100vh;
    border: 0;
    background-color: #eee;
}
.filtro select{
    border: 1px solid red;
    
}
input{
    border: 1px solid red;
    max-width: 100px;
}