:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #212529;
    --color-primary: #ce126a;
    --color-primary-nav: #ce126ab7;
    --color-primary-hover: #a31356;
    --color-secondary: #37373f;
  }

* {
    font-family: var(--font-default);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#goBack {
  position: fixed; /* Para fijarla en la ventana del navegador */
  top: 15px; /* Ajusta la distancia desde la parte superior */
  left: 15px; /* Ajusta la distancia desde la derecha */
  background-color: var(--color-primary); /* Color de fondo de la caja */
  color: #fff; /* Color del texto */
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 80px; /* Redondea los bordes */
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out; /* Agrega una transición suave para la propiedad top */
}

#goBack:hover {
  padding: 5px 15px; /* Espaciado interno */
}

.forgot-container {
  max-width: 80%;
  width: 100%;
  margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .forgot-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .forgot-container p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .forgot-container form input {
    font-weight: bold;
    color: var(--color-primary);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .forgot-container form input:focus {
    outline: none;
    border-color: var(--color-primary);
  }

  .btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-submit button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    font-family: var(--font-default);
  }

  .btn-submit button:hover {
    width: 100%;
    background-color: green;
  }

  .advice {
    color: red;
    font-weight: 500;
  }

  .error-p {
    color: red;
    text-align: center;
    font-weight: 600;
  }