/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce126a;
  --color-primary-nav: #ce126ab7;
  --color-primary-hover: #a31356;
  --color-primary-hover2: #4d0929;
  --color-secondary: #37373f;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-primary); /* Puedes cambiar el valor hexadecimal por el color que desees */
  color: #fff; /* Puedes cambiar el valor hexadecimal por el color que desees */
}
* {
  font-family: var(--font-primary);
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#goBack {
  position: fixed; /* Para fijarla en la ventana del navegador */
  top: 10px; /* Ajusta la distancia desde la parte superior */
  left: 20px; /* Ajusta la distancia desde la derecha */
  background-color: var(--color-primary); /* Color de fondo de la caja */
  color: #fff; /* Color del texto */
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 80px; /* Redondea los bordes */
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out; /* Agrega una transición suave para la propiedad top */
}

#goBack:hover {
  padding: 10px 20px; /* Espaciado interno */
  background-color: var(--color-primary-hover2);
  border: solid 2px var(--color-primary);
}
/* Estilos para el contenedor principal */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 100%;
  gap: 2em;
  width: auto;
}

/* Estilos para la sección de imágenes */
.images {
  flex: 1;
  margin-right: 15px; /* Espacio entre imágenes y detalles */
}

.images img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Borde alrededor de las imágenes */
  border-radius: 5px; /* Bordes redondeados para las imágenes */
}

/* Estilos para la sección de detalles */
.details {
  flex: 1;
}

.details h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--color-primary); /* Color primario para el título */
  text-align: center;
  text-transform: uppercase;
}

.details p {
  margin-bottom: 10px;
}

.label-container {
  display: flex;
  align-items: center;
}

/* Estilos para el botón de comprar */
.buy-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary); /* Color primario para el botón */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.buy-button a:hover {
  background-color: var(--color-primary-hover); /* Color primario con hover */
}

/* Estilos para los enlaces de volver */
a {
  color: var(--color-primary); /* Color primario para enlaces */
  text-decoration: none;
  margin-right: 20px; /* Espacio entre enlaces */
}

a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* carrusel */
@media (min-width: 800px ) and (max-width: 1300px) {
  body {
    background-color: #a31356;
  }
}
.swiper {
  width: 700px;
  height: 400px;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-image {
  height: 100%;
  object-fit: fill;
}

.swiper-button-next, 
.swiper-button-prev{
  color: var(--color-primary) !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
}