/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce126a;
  --color-primary-nav: #ce126ab7;
  --color-primary-hover: #a31356;
  --color-secondary: #37373f;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}


body {
    font-family: "Inter", sans-serif;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  h1 {
    text-align: center;
  }

  #goBack {
    position: fixed; /* Para fijarla en la ventana del navegador */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde la derecha */
    background-color: var(--color-primary); /* Color de fondo de la caja */
    color: #fff; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 80px; /* Redondea los bordes */
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out; /* Agrega una transición suave para la propiedad top */
  }

  #goBack:hover {
    padding: 10px 20px; /* Espaciado interno */
  }


  @media (max-width: 768px) {
    #goBack {
      left: initial; /* Elimina la posición izquierda */
      right: 20px; /* Ajusta la distancia desde la derecha en dispositivos móviles */
    }
  }

  form {
    height: 100%;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 20px; /* Agrega un espacio interno para separar el contenido de la sombra */
    border-radius: 8px; /* Redondea los bordes de la caja */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    box-sizing: border-box;
    font-weight: 600;
    color: #a31356;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  input[type="text"]:focus,
  input[type="number"]:focus,
  select:focus,
  textarea:focus {
  outline: none; /* Elimina el resaltado predeterminado de enfoque */
  border-color: var(--color-primary);
  /* Otros estilos de :focus que desees */
  }
  
  #btn-submit {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    font-family: var(--font-default);
  }

  #btn-submit:hover {
    background-color: green;
  }
  
  #permuteMessage {
    font-size: 12px;
    color: #999;
  }

  .upload-container {
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  /* Estilos para el texto */
  .upload-container p {
    margin-bottom: 10px; /* Añade un espacio entre el texto y el botón */
  }
  /* Estilos para el botón de archivo */
input[type="file"] {
  /* Oculta el botón predeterminado */
  display: none;
}

/* Estilos para el botón personalizado */
.custom-file-upload {
  border: 2px solid #ccc;
  border-radius: 8px;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: var(--color-primary); /* Color de fondo personalizado */
  color: #fff; /* Color de texto personalizado */
  border-radius: 50px;
  transition: background-color 0.3s ease; /* Transición al pasar el cursor */
}

/* Cambia el estilo al pasar el cursor sobre el botón */
.custom-file-upload:hover {
  background-color: var(--color-primary-hover); /* Color de fondo al pasar el cursor */
}
  